/* --------------------------------- */
/* Common Colors for webpage */
/* --------------------------------- */

/* Emerald #2ecc71 ---- Lighter green */
/* Nephritis #27ae60 ---- Darker green */
/* Cardboard Box #9F7043 ---- cardboard brown */



/* --------------------------------- */
/* Basic Setup */
/* --------------------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    transition: all .5s ease-out;
}

html {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 2px;
    color: #555;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

a { 
    cursor: pointer;
}

li {
    list-style-type: none;
}

h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

/* --------------------------------- */
/* Header Section */
/* --------------------------------- */

header {
    height: 100vh;
    padding-top: 2%;
}

nav {
    width: 100%;
}

nav .row {
    display: table;
    width: 100%;
}
nav .header-logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.down-arrow {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    border-width: 0 0 2px 2px;
    margin: 0 auto;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition: all 1s ease-out;
}

nav a:nth-child(2) {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 90%;
    left: 50%;
    animation: bounce 2s infinite linear;
}  

@keyframes bounce {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(0px);
    }
}

.logo {
    display: inline-block;
    width: 650px;
    height: auto;
    transition: transform 1.5s ease;
    transform: scale(0);
}

nav ul {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

nav ul li {
    display: inline-block;
    margin-left: 10px;
    font-weight: 700;
    transition: all ease .25s;
}

nav ul li:first-child {
    padding: 10px 5px;
    border: 2px solid #2ecc71;
    margin-left: 0;
    cursor: pointer;
}

nav ul li:first-child:hover {
    color: #fff;
    background-color: #2ecc71;
}

header .hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
}

/* --------------------------------- */
/* General Section Setup */
/* --------------------------------- */


section {
    width: 100%;
    padding: 5% 0;
    background-color: #27ae60;
}

section h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-align: center;
    color: #fff;
    word-spacing 2px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

section h2::after {
    content: "";
    display: block;
    width: 70px;
    border-bottom: 2px solid #fff;
    margin: 30px auto;
}

/* --------------------------------- */
/* How It Works */
/* --------------------------------- */


.grid-of-icons {
    display: block;
    width: 100%;
    float: right;
}

p.how-it-works-desc {
    font-family: 'Roboto', sans-serif;
    width: 70%;
    margin: 0 auto 50px;
    line-height: 145%;
    text-align: center;
}

.grid-of-icons i {
    font-size: 50px;
}

.grid-box {
    width: 45%;
    padding: 0 2% 5%;
    margin-right: 8%;
    text-align: center;
    float: left;
}

.grid-box:nth-child(even) {
    margin-right: 0;
    float: right;
}

.grid-box:nth-child(3), .grid-box:nth-child(4)  {
    padding-bottom: 0;
}

.grid-box p {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 18px;
}

.grid-box h3 {
    text-decoration: underline;
}

.grid-box .shopify-button {
    display: block;
    width: 350px;
    height: auto;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 15px auto 0;
    text-decoration: none;
    background-color: #9F7043;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
}

.shopify-button:hover {
    background-color: #e67e22;
}

.tablet_or_minidevice_gallery {
    display: none;
}

input, textarea {
    font-size: 15px;
}

h3 {
    margin-bottom: 20px;
}

select {
    width: 90%;
    margin-top: 10px;
    color: #000;
    letter-spacing: 1px;
    font-weight: bold;
}

select option {
    text-align: center;
}

.form_message {
    margin-top: 3%;
}

.text-field {
    border-bottom: 2px solid #fff;
}

input {
    width: 100%;
    border: 2px solid #fff;
    background-color: transparent;
    text-align: center;
}

input::placeholder {
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
}

input:focus {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.cucumber-message {
    border: none;
}


/* --------------------------------- */
/* Cucumber Gallery */
/* --------------------------------- */

.cucumber-gallery {
    display: none;
    width: 50%;
    margin-top: 10%;
    float: right;
}

.box-container {
    width: 100%;
    text-align: center;
}

.box-container img {
    position: relative;
    width: 50%;
    left: -1000px;
}

/* --------------------------------- */
/* FAQ section */
/* --------------------------------- */

section.faq {
    background-color:#fff;
}

.faq h2 {
    color: #27ae60;
}

.faq h2::after {
    border-bottom: 2px solid #27ae60;
}

.faq ul {
    display: inline-block;
}

.faq li::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #27ae60;
}

.faq p, .faq h4 {
    display: inline-block;
    color: #27ae60;
}

.faq .col {
    width: 50%;
    text-align: center;
    float: left;
}

.faq .col li {
    margin-top: 20px;
}

.faq .col p {
    width: 75%;
    font-weight: 400;
    color: #9F7043;
}

/* --------------------------------- */
/* Footer section */
/* --------------------------------- */

footer {
    position: relative;
    width: 100%;
    height: auto !important;
    padding: 5% 0 2%;
    z-index: 1000;
    background-color:#9F7043;
    transition: top 1s ease-in;
}

footer h2 {
    text-align: center;
}

footer h2::after {
    content: "";
    display: block;
    width: 70px;
    border-bottom: 2px solid #fff;
    margin: 30px auto;
}

footer .row {
    text-align: center;
}

.contact-us-button {
    display: inline-block;
    width: 300px;
    padding: 10px 10px;
    border-radius: 6px;
    margin: 5% 0;
    vertical-align: middle;
    text-decoration: none;
    background-color: #27ae60;
    font-size: 18px;
    text-align: center;
}

.contact-us-button:hover {
    background-color: #2ecc71;
}


footer form {
    margin-top: 50px;
    text-align: center;
}

footer input {
    display: inline-block;
    width: 100%;
    padding: 10px 25px 10px 15px;
    border-bottom: 2px solid #fff;
    margin-bottom: 15px;
    text-align: left;
/*    text-transform: uppercase;*/
    transition: none;
}



footer label {
    margin-top: 10px;
}

footer input::placeholder {
    font-family: Arial;
    font-weight: normal;
}

footer input:focus, footer .message-container textarea:focus {
    overflow: hidden;
    border: 2px solid #27ae60;
}

textarea {
    display: inline-block;
    width: 100%;
    padding: 10px 25px 10px 15px;
    border: 2px solid #fff;
    vertical-align: middle;
    font-family: Arial;
    background-color: transparent;
    outline: none;
}

.message-container textarea:focus {
    transition: none;
}

textarea::placeholder {
    color: #fff;
    text-transform: uppercase;
}

footer .submit {
    display: inline-block;
    width: 100%;
    padding: 15px 40px;
    border: none;
    border-radius: 2px;
    margin-top: 15px;
    letter-spacing: 1.2px;
    background-color: #27ae60;
    font-size: 17px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

footer .submit:hover {
    background-color: #2ecc71;
}

.form-col {
    width: 50%;
    margin: 0 auto;
}

.footer-icons i {
    display: inline-block;
    margin-right: 5px;
    font-size: 25px;
}

.ion-checkmark {
    visibility: hidden;
}

.signature {
    display:block;
    width: 50%;
    margin: 30px auto 0;
    text-align: center;
}

#heart {
    color: #44BBFF;
}

.footer-logo {
    display: inline-block;
    width: 90px;
    height: auto;
    vertical-align: middle;
}

.signature p {
    display: inline-block;
    height: 87px;
    font-size: 15px;
    line-height: 87px;
}

/* Shopify code */

.shopify-cont {
    width: 75%;
    margin: 30px auto 0;
}

.shopify-buy-frame--toggle.is-active.is-sticky{
    right: 20px !important;
}

/* google recaptcha */

.g-recaptcha {
    margin-top: 15px;
}

/* --------------------------------- */
/* MEDIA QUERY Section */
/* --------------------------------- */

/* Big Tablets to 1200 pixels */
@media only screen and (max-width: 1200px){
    
    .faq li::before {
        display: none;
    }
    
    .faq ul {
        padding: 0 30px;
    }
    
    .grid-box .shopify-button {
        width: 300px;
    }
    
/*
    footer .row .contact-us-button {
        width: 300px;
    }
*/
}

/* Small Tablets to Big Tablets */
@media only screen and (max-width: 1023px){
    
    /* How it works section */
    
    .grid-box {
        padding: 0 5% 5%;
    }
    
    .grid-box h3 {
        font-size: 18px;
    }
    
    .grid-box p {
        font-size: 16px;
    }
    
    .grid-box .shopify-button {
        width: 300px;
        padding: 6px;
        font-size: 16px;
    }
    
}

/* Small Phones to Small Tablets */
@media only screen and (max-width: 767px) {
    
    .logo {
        width: 100%;
        padding: 0 5%;
    }
    
    nav a {
        width: 100%;
    }
    
    nav a:nth-child(2) {
        left: 0;
    }
    
    /* How it works section */
    
    section {
        padding: 8% 0;
    }
    
    section.how-it-works {
        padding-bottom: 8%;
    }
    
    p.how-it-works-desc {
        width: 90%;
        font-weight: bold;
    }
    
    .grid-of-icons {
        width: 80%;
        margin: 0 auto;
        float: none;
    }
    
    .grid-box {
        width: 80%;
        padding-bottom: 10%;
        margin: 0 auto;
        float: none;
    }
    
    .grid-box:nth-child(even) {
        margin: 0 auto;
        float: none;
    }
    
    .grid-box:nth-child(3) {
        padding-bottom: 10%;
    }
    
    .grid-box .shopify-button {
        font-weight: bold;
    }
    
    .grid-box p, .grid-box h3 {
        font-family: Arial;
        font-weight: bold;
    }
    
    .grid-box h3 {
        font-size: 19px;
    }
    
    .grid-box p {
        font-size: 17px;
    }
    
    .grid-box:last-child {
        padding-bottom: 0;
    }
    
    footer .row .contact-us-button {
        width: 300px;
    }
    
    .cucumber-gallery .iphone {
        display: none;
    }
    
    select {
        font-size: 16px;
    }
    
    /* FAQ section */
    
    .faq .col {
        width: 100%;
    }
    
    .faq li::before {
        display: inline-block;
    }
    
    .faq .col p {
        font-size: 18px;
    }
    
    
    /* Footer section */
    
    .form-col {
        width: 80%;
        margin-top: 100px;
    }
    
    footer form {
        margin-top: 0;
    }
}

/* Small Phones from 0 to 480 pixels */
@media only screen and (max-width:480px) {
    
    section {
        padding: 15% 0;
    }
    
    section.how-it-works {
        padding-bottom: 15%;
    }
    
    .grid-of-icons {
        width: 100%;
        float: none;
    }
    
    .grid-box {
        width: 90%;
        padding: 0 5% 10% 5%;
        margin: 0 auto;
    }
    
    .grid-box:last-child {
        padding-bottom: 0;
    }
    
    footer .row .contact-us-button {
        width: 250px; 
    }
    
    .cucumber-gallery {
        display: none;
    }
    
    .faq li::before {
        display: none;
    }
    
    footer {
        padding: 15% 0;
    }
    
    .form-col {
        width: 85%;
    }
    
    .footer-icons:last-child i {
        display: none;
    }
    
    .footer-icons:last-child {
        text-align: right;
    }
    
    
    /* Small Phones from 0 to 480 pixels */
    @media only screen and (max-width: 380px) {
        
        .how-it-works h2 {
            font-size: 30px;
        }
        
        p.how-it-works-desc {
            width: 80%;
            font-size: 18px;
        }
        
        .grid-box h3 {
            font-size: 14px;
        }
        
        .grid-box p {
            font-size: 14px;
        }
        
        .grid-box .shopify-button {
            width: 250px;
            font-size: 14px;
        }
        
        .faq h2 {
            font-size: 30px;
        }
        
        .faq h4 {
            font-size: 18px;
        }
        
        .faq p {
            margin-top: 10px;
            font-size: 24px;
        }
        
        footer .row .contact-us-button {
            width: 200px;
            font-size: 15px;
        }
    }
    
}